.habitPlanContainer {
    position: relative;
    width: 1000px;
    height: 650px;
    background-color: #a3a2a99c;
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 10px;
    margin: 50px;
}

.habitPlanRectangle {
    position: relative;
    width: 100%;
    height: 100%;
}

.habitPlanValue {
    position: absolute;
    top: 0; 
    left: 0; 
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #212121;
}


.habitDetails {
    margin-bottom: 20px;
}

.habitDetails p {
    margin: 5px 0;
}

.habitActions {
    display: flex;
    align-items: center;
}

.habitActions button {
    padding: 8px 16px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.habitActions button:hover {
    background-color: #0056b3;
}


.habitButtonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.habitsContainer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start;
}

.habitsContainer .habit-item {
    display: space-between;
    margin: 40px;
    justify-content: center;
    flex: wrap;
}
